@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@font-face {
  font-family: "Cheltenham";
  src: url("/CheltenhamStdBook.woff") format("woff");
}

@font-face {
  font-family: "Publico";
  src: url("/PublicoTextRoman.woff") format("woff");
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.cheltenham {
  font-family: "Cheltenham", serif;
}

.publico {
  font-family: "Publico", serif;
}
