.toolbaritem {
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.toolbaritemactive {
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid rgb(116, 116, 116);
  border-radius: 4px;
  cursor: pointer;
}
